# **WIDS Datathon : Raphael Yao**

### **Loading Files, Packages, Scripts:**

In [ ]:
!pip install scikit-learn
!pip install --quiet optuna
!pip install category_encoders
!pip install catboost

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.3.0)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 413.4/413.4 kB 6.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.4/233.4 kB 13.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 7.4 MB/s eta 0:00:00
Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.25.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.1)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.3.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.2)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3
Collecting catboost
  Downloading catboost-1.2.3-cp310-cp310-manylinux2014_x86_64.whl (98.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.5/98.5 MB 8.9 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.3)
Installing collected packages: catboost
Successfully installed catboost-1.2.3

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from math import sqrt
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, r2_score, mean_squared_error

from sklearn.linear_model import LogisticRegression, LinearRegression

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.cluster import KMeans

import optuna
import warnings
import scipy
import category_encoders
from category_encoders import OneHotEncoder, MEstimateEncoder, CatBoostEncoder, OrdinalEncoder

from sklearn import set_config
from sklearn import linear_model
from sklearn.inspection import permutation_importance, PartialDependenceDisplay
from sklearn.model_selection import StratifiedKFold, RepeatedStratifiedKFold, cross_val_score, KFold
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestRegressor, IsolationForest
from sklearn.metrics import roc_auc_score, roc_curve, make_scorer, f1_score
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer, KNNImputer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin, clone
from sklearn.preprocessing import FunctionTransformer,StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.preprocessing import PolynomialFeatures
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression, RidgeClassifier, Ridge
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier, ExtraTreesRegressor
from sklearn.ensemble import HistGradientBoostingClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import VotingClassifier, StackingClassifier, VotingRegressor
from sklearn.svm import SVC
from sklearn.metrics import auc, roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.gaussian_process import GaussianProcessClassifier
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import squareform
from xgboost import XGBClassifier, XGBRegressor
from lightgbm import LGBMClassifier, LGBMRegressor
from catboost import CatBoostClassifier, Pool, CatBoostRegressor

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.cluster import KMeans


pd.set_option('display.max_rows', 150)

In [ ]:
train = pd.read_csv(r'/content/training.csv', index_col='patient_id')
test = pd.read_csv(r'/content/test.csv', index_col='patient_id')
sub  = pd.read_csv(r'/content/sample_submission.csv')

### **Initial Data : Scraping and Observations:**

In [ ]:
desc = pd.DataFrame(index = list(train))
desc['type'] = train.dtypes
desc['count'] = train.count()
desc['nunique'] = train.nunique()
desc['%unique'] = desc['nunique'] /len(train) * 100
desc['null'] = train.isnull().sum()
desc['%null'] = desc['null'] / len(train) * 100
desc = pd.concat([desc,train.describe().T.drop('count',axis=1)],axis=1)
desc.sort_values(by=['type','null']).style.background_gradient(axis=0)

We can make a few observations:
*   Most demographic variables are related to patient_zip3 and population ; that has 739 unique Zip codes
*   Certain variables have insufficient data to be imputed and must be deleted:
  * `metastatic_first_novel_treatment, metastatic_first_novel_treatment_type, patient_type, patient_race, and bmi`
*   I would like to also remove any patients with insufficient data because if they have a lot of missing column inputs then their data is unhealthy
*   For data cleaning, we are going to `remove patient_state, Region, Division`
  * I feel that the Zip3 (first 3 digits) provides sufficient evidence; it may overfit
*   I am then going to put the variables through a trasnformer pipeline to transform them.

## **Cleaning and Preprocessing Data:**

### Finding Null Rows

In [ ]:
#Finding null rows

nulls_row = train.isnull().sum(axis=1)

nulls_freq = nulls_row.value_counts().sort_index()

nulls_table = pd.DataFrame({'Null # Frequency': nulls_freq.index,
                                               'Frequency': nulls_freq.values})
nulls_table

    Null # Frequency  Frequency
0                  0          3
1                  1          9
2                  2       1661
3                  3       5771
4                  4       4907
5                  5        477
6                  6         40
7                  7         26
8                  8          7
9                 10          1
10                26          1
11                27          2
12                67          1

In [ ]:
#Let's delete rows with Nulls >= 5 (Null > 4). It will clean up the noise in the data

null_thresh = 4
null_row_4 = train[train.isnull().sum(axis=1) > null_thresh]
train_clean = train.drop(null_row_4.index)
train_clean

,patient_race,payer_type,patient_state,patient_zip3,patient_age,patient_gender,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,...,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D
patient_id,,,,,,,,,,,,,,,,,,,,,
475714,NaN,MEDICAID,CA,924,84,F,NaN,C50919,Malignant neoplasm of unsp site of unspecified...,C7989,...,12.871429,22.542857,10.100000,27.814286,11.200000,3.500000,52.237210,8.650555,18.606528,1
349367,White,COMMERCIAL,CA,928,62,F,28.49,C50411,Malig neoplm of upper-outer quadrant of right ...,C773,...,8.957576,10.109091,8.057576,30.606061,7.018182,4.103030,42.301121,8.487175,20.113179,1
138632,White,COMMERCIAL,TX,760,43,F,38.09,C50112,Malignant neoplasm of central portion of left ...,C773,...,11.253333,9.663333,3.356667,31.394915,15.066667,7.446667,40.108207,7.642753,14.839351,1
617843,White,COMMERCIAL,CA,926,45,F,NaN,C50212,Malig neoplasm of upper-inner quadrant of left...,C773,...,8.845238,8.688095,5.280952,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,0
817482,NaN,COMMERCIAL,ID,836,55,F,NaN,1749,"Malignant neoplasm of breast (female), unspeci...",C773,...,15.276000,11.224000,1.946000,26.170213,12.088000,13.106000,41.356058,4.110749,11.722197,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674178,White,NaN,OH,436,50,F,32.11,C50411,Malig neoplm of upper-outer quadrant of right ...,C773,...,17.400000,23.600000,0.864706,19.841176,6.300000,6.247059,38.753055,8.068682,21.140731,1
452909,NaN,COMMERCIAL,CA,945,50,F,NaN,C50912,Malignant neoplasm of unspecified site of left...,C773,...,11.243210,7.837037,5.411250,34.700000,3.845679,5.671605,36.469947,6.265266,10.728732,1
357486,NaN,COMMERCIAL,CA,926,61,F,29.24,C50912,Malignant neoplasm of unspecified site of left...,C7931,...,8.845238,8.688095,5.280952,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,1
935417,NaN,NaN,NY,112,37,F,31.00,1749,"Malignant neoplasm of breast (female), unspeci...",C773,...,10.194737,18.642105,14.173684,42.502632,6.392105,1.755263,37.722740,7.879795,27.496367,0
179597,Hispanic,MEDICAID,FL,336,29,F,NaN,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,...,10.988889,18.470370,11.777778,24.951852,11.759259,6.577778,37.228624,8.652507,16.436409,1

In [ ]:
nulls_row1 = train_clean.isnull().sum(axis=1)

nulls_freq1 = nulls_row1.value_counts().sort_index()

nulls_table1 = pd.DataFrame({'Null # Frequency': nulls_freq1.index,
                                               'Frequency': nulls_freq1.values})
nulls_table1

   Null # Frequency  Frequency
0                 0          3
1                 1          9
2                 2       1661
3                 3       5771
4                 4       4907

### Null Columns and Removing Other Variables

In [ ]:
# Calculate percentage of null values in each column
null_column = (train_clean.isnull().sum() / len(train)) * 100

# Create DataFrame to store column-wise null percentages
null_percentage_df = pd.DataFrame({'Column': null_column.index,
                                   'Null Percentage': null_column.values}).sort_values(by='Null Percentage', ascending=False)

# Print DataFrame
null_percentage_df.head(10)

                                   Column  Null Percentage
11  metastatic_first_novel_treatment_type        95.513715
10       metastatic_first_novel_treatment        95.513715
6                                     bmi        65.326205
0                            patient_race        45.552456
1                              payer_type        10.134821
46            income_household_six_figure         0.000000
53              education_less_highschool         0.000000
60              labor_force_participation         0.000000
59                  education_stem_degree         0.000000
58             education_college_or_above         0.000000

In [ ]:
#removing anything that is over 10% null
null_thresh = 10
null_columns = train_clean.columns[train_clean.isnull().mean() * 100 > null_thresh]
train_clean = train_clean.drop(null_columns, axis = 1)

#removing state, region, division
train_clean = train_clean.drop(['patient_state', 'Region', 'Division'], axis=1)
train_clean

,patient_zip3,patient_age,patient_gender,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,population,density,age_median,age_under_10,...,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D
patient_id,,,,,,,,,,,,,,,,,,,,,
475714,924,84,F,C50919,Malignant neoplasm of unsp site of unspecified...,C7989,31437.75000,1189.562500,30.642857,16.014286,...,12.871429,22.542857,10.100000,27.814286,11.200000,3.500000,52.237210,8.650555,18.606528,1
349367,928,62,F,C50411,Malig neoplm of upper-outer quadrant of right ...,C773,39121.87879,2295.939394,38.200000,11.878788,...,8.957576,10.109091,8.057576,30.606061,7.018182,4.103030,42.301121,8.487175,20.113179,1
138632,760,43,F,C50112,Malignant neoplasm of central portion of left ...,C773,21996.68333,626.236667,37.906667,13.028333,...,11.253333,9.663333,3.356667,31.394915,15.066667,7.446667,40.108207,7.642753,14.839351,1
617843,926,45,F,C50212,Malig neoplasm of upper-inner quadrant of left...,C773,32795.32558,1896.220930,42.871429,10.071429,...,8.845238,8.688095,5.280952,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,0
817482,836,55,F,1749,"Malignant neoplasm of breast (female), unspeci...",C773,10886.26000,116.886000,43.473469,10.824000,...,15.276000,11.224000,1.946000,26.170213,12.088000,13.106000,41.356058,4.110749,11.722197,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674178,436,50,F,C50411,Malig neoplm of upper-outer quadrant of right ...,C773,19413.05882,1196.805882,36.911765,12.876471,...,17.400000,23.600000,0.864706,19.841176,6.300000,6.247059,38.753055,8.068682,21.140731,1
452909,945,50,F,C50912,Malignant neoplasm of unspecified site of left...,C773,30153.87952,976.289157,42.135802,10.753086,...,11.243210,7.837037,5.411250,34.700000,3.845679,5.671605,36.469947,6.265266,10.728732,1
357486,926,61,F,C50912,Malignant neoplasm of unspecified site of left...,C7931,32795.32558,1896.220930,42.871429,10.071429,...,8.845238,8.688095,5.280952,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,1
935417,112,37,F,1749,"Malignant neoplasm of breast (female), unspeci...",C773,71374.13158,17326.407890,36.476316,12.986842,...,10.194737,18.642105,14.173684,42.502632,6.392105,1.755263,37.722740,7.879795,27.496367,0
179597,336,29,F,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,30205.48148,1517.174074,35.629630,11.696296,...,10.988889,18.470370,11.777778,24.951852,11.759259,6.577778,37.228624,8.652507,16.436409,1

In [ ]:
train_clean['patient_zip3'] = train_clean['patient_zip3'].astype('object')

In [ ]:
train_clean_columns = train_clean.drop('DiagPeriodL90D', axis=1).columns

# Align test to match the columns of train_clean
test_clean = test[train_clean_columns]

test_clean['patient_zip3'] = test_clean['patient_zip3'].astype('object')

# Now test_clean has the same columns as train_clean
test_clean

<ipython-input-13-c320c0226f9e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_clean['patient_zip3'] = test_clean['patient_zip3'].astype('object')

,patient_zip3,patient_age,patient_gender,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,population,density,age_median,age_under_10,...,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02
patient_id,,,,,,,,,,,,,,,,,,,,,
573710,467,54,F,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,5441.435484,85.620968,40.880328,12.732258,...,3.564516,13.996774,7.985484,0.969355,24.955357,10.838710,8.080645,38.724876,7.947165,11.157161
593679,337,52,F,C50912,Malignant neoplasm of unspecified site of left...,C787,19613.820510,1555.107692,49.107692,8.069231,...,10.261538,16.020513,13.602564,2.836842,23.952632,10.579487,9.302564,36.918257,7.838973,13.599985
184532,917,61,F,C50911,Malignant neoplasm of unsp site of right femal...,C773,43030.500000,2048.578261,38.852174,11.306522,...,47.726087,9.895652,10.515217,12.745652,32.530435,7.263043,3.810870,47.310325,9.595719,20.084231
447383,917,64,F,C50912,Malignant neoplasm of unspecified site of left...,C779,43030.500000,2048.578261,38.852174,11.306522,...,47.726087,9.895652,10.515217,12.745652,32.530435,7.263043,3.810870,47.310325,9.595719,20.084231
687972,900,40,F,C50412,Malig neoplasm of upper-outer quadrant of left...,C779,36054.117650,5294.330882,36.653846,9.761538,...,45.526154,11.901538,20.760000,14.737500,30.709375,10.341538,3.030769,41.186992,11.166898,21.644261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977076,404,63,F,C50411,Malig neoplm of upper-outer quadrant of right ...,C773,7765.000000,131.040000,40.434783,11.556522,...,1.243478,20.404348,20.813636,0.350000,30.152174,6.473913,5.908696,39.947326,7.622672,9.154618
922960,507,69,F,C50912,Malignant neoplasm of unspecified site of left...,C773,19332.750000,346.250000,38.525000,12.200000,...,6.175000,16.675000,15.900000,2.800000,16.800000,5.475000,6.875000,35.825340,7.610534,9.712786
759690,980,84,F,C50411,Malig neoplm of upper-outer quadrant of right ...,C773,28628.290910,1091.825455,39.679245,12.143396,...,9.511321,9.752830,6.432075,5.094340,31.275472,5.309434,5.807547,36.618644,4.939852,23.393650
911717,740,58,F,1749,"Malignant neoplasm of breast (female), unspeci...",C773,9716.970149,150.602985,39.588060,11.768657,...,4.374627,15.544776,16.603030,0.513636,25.877273,14.926866,7.600000,39.832235,8.030925,9.769358
327597,114,83,F,C50111,Malignant neoplasm of central portion of right...,C773,31657.461540,8664.119231,39.729167,10.183333,...,22.520833,10.950000,12.613043,9.122727,47.270833,7.154167,2.558333,37.963594,6.844970,29.428387

## **Pipeline and Modeling Data**

In [ ]:
numeric_features = train_clean.select_dtypes('number').drop(columns = ["DiagPeriodL90D"]).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_features = [c for c in train_clean.columns if c not in numeric_features and c != 'DiagPeriodL90D']

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent', fill_value='missing')),
    ('onehot', OneHotEncoder())
])

preprocessor = ColumnTransformer(
    transformers = [
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

In [ ]:
y = train_clean.DiagPeriodL90D
X = train_clean.drop('DiagPeriodL90D', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
model = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor())
])

In [ ]:
model.fit(X_train, y_train,)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
train_accuracy = model.score(X_train, y_train)
test_accuracy = model.score(X_test, y_test)

print("Training Accuracy:", train_accuracy)
print("Testing Accuracy:", test_accuracy)

Training Accuracy: 0.832991471445536
Testing Accuracy: 0.8144430051813472

In [ ]:
confusion_matrix(y_test, y_pred)

array([[ 669,  495],
       [  78, 1846]])

In [ ]:
# prompt: find and save patient_id from test_clean

test_clean_patient_id = test_clean.index.to_list()

In [ ]:
predictions = model.predict(test_clean)
submission_dataframe = pd.DataFrame({'patient_id':test_clean_patient_id,'Predictions':predictions})
submission_dataframe.to_csv('firstsubmission.csv', index=False)

In [ ]:
knn_r_acc = []  # Initialize list to store results

# Loop through different values of n_neighbors
for i in range(1, 17):
    # Create KNeighborsRegressor with current value of n_neighbors
    knn = KNeighborsRegressor(n_neighbors=i)
    model = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor())])
    # Fit the model on the training data
    model.fit(X_train, y_train)

    # Calculate test and train scores
    test_score = model.score(X_test, y_test)
    train_score = model.score(X_train, y_train)

    # Append results to the list
    knn_r_acc.append((i, test_score, train_score))

# Create DataFrame from the results
df = pd.DataFrame(knn_r_acc, columns=['K', 'Test Score', 'Train Score'])
print(df)

## CatBoost:

### CatboostClassifier

In [ ]:
import catboost as ctb

In [ ]:
numeric_features = train_clean.select_dtypes('number').drop(columns = ["DiagPeriodL90D"]).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_features = [c for c in train_clean.columns if c not in numeric_features and c != 'DiagPeriodL90D']

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent', fill_value='missing')),
    ('onehot', OneHotEncoder())
])

preprocessor = ColumnTransformer(
    transformers = [
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

In [ ]:
y = train_clean.DiagPeriodL90D
X = train_clean.drop('DiagPeriodL90D', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
model = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('classifier', CatBoostClassifier())
])
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
train_accuracy = model.score(X_train, y_train)
test_accuracy = model.score(X_test, y_test)
print("Training Accuracy:", train_accuracy)
print("Testing Accuracy:", test_accuracy)

Training Accuracy: 0.7187736154593545
Testing Accuracy: 0.6295336787564767

In [ ]:
confusion_matrix(y_test, y_pred)

array([[ 247,  917],
       [ 227, 1697]])

### CatBoost Regressor

In [ ]:
numeric_features = train_clean.select_dtypes('number').drop(columns = ["DiagPeriodL90D"]).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_features = [c for c in train_clean.columns if c not in numeric_features and c != 'DiagPeriodL90D']

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent', fill_value='missing')),
    ('onehot', OneHotEncoder())
])

preprocessor = ColumnTransformer(
    transformers = [
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

In [ ]:
y = train_clean.DiagPeriodL90D
X = train_clean.drop('DiagPeriodL90D', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
model = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('regressor', CatBoostRegressor())
])
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
kf = KFold(n_splits=4, shuffle=True, random_state=42)
cv_scores = cross_val_score(model, X_train, y_train, cv=kf, scoring='neg_mean_squared_error')
cv_scores = -cv_scores

print("Cross-Validation Scores:", cv_scores)
print("Mean CV Score:", np.mean(cv_scores))
print("Std Dev CV Score:", np.std(cv_scores))

In [ ]:
predictions = model.predict(test_clean)
submission2_dataframe = pd.DataFrame({'patient_id':test_clean_patient_id,'Predictions':predictions})
submission2_dataframe.to_csv('submission4.csv', index=False)
submission2_dataframe

      patient_id  Predictions
0         573710     0.952676
1         593679     0.771901
2         184532     0.744157
3         447383     0.754592
4         687972     0.821515
...          ...          ...
5787      977076     0.807771
5788      922960     0.714920
5789      759690     0.884620
5790      911717     0.081286
5791      327597     0.917497

[5792 rows x 2 columns]

## Big Boi Stuff

In [ ]:
numeric_features = train_clean('number').drop(columns = ["DiagPeriodL90D"]).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_features = [c for c in train_clean.columns if c not in numeric_features and c != 'DiagPeriodL90D']

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent', fill_value='missing')),
    ('onehot', OneHotEncoder())
])

preprocessor = ColumnTransformer(
    transformers = [
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

In [ ]:
SEED = 42

models = [
           ('lgbm',make_pipeline(preprocessor,
                                 LGBMRegressor(random_state=SEED,
                                               force_col_wise = True))),

           ('RF',make_pipeline(preprocessor,
                               RandomForestRegressor(n_estimators=200,
                                                      random_state=SEED,
                                                      min_samples_leaf=92,
                                                      max_features=1.0))),
           ('Extratrees',make_pipeline(preprocessor,
                                       ExtraTreesRegressor(n_estimators=300,
                                                           random_state=SEED,
                                                           min_samples_leaf=46,
                                                           max_features=1.0))),
           ('XGB',make_pipeline(preprocessor,
                                 XGBRegressor(random_state=SEED))),

           ('catBoost',make_pipeline(preprocessor,
                                    CatBoostRegressor(random_state=SEED,
                                                      logging_level = 'Silent'))),


        ]

In [ ]:
def score_model_regressor(model, label, train_clean, SEED=42):

    print('model: {}'.format(label))
    y = train_clean['DiagPeriodL90D']
    X = train_clean.drop('DiagPeriodL90D', axis=1)

    kf = KFold(n_splits=5, random_state=SEED, shuffle=True)

    val_predictions = np.zeros(len(train_clean))
    score_list = []
    for fold, (trx_idx, val_idx) in enumerate(kf.split(X, y)):
        X_train = X.iloc[trx_idx]
        y_train = y.iloc[trx_idx]
        X_val = X.iloc[val_idx]
        y_val = y.iloc[val_idx]

        model.fit(X_train, y_train)
        y_pred_train = model.predict(X_train)
        y_pred_val = model.predict(X_val)

        mse_train = mean_squared_error(y_train, y_pred_train)
        mse_val = mean_squared_error(y_val, y_pred_val)

        val_predictions[val_idx] = y_pred_val
        score_list.append(mse_val)
        print(f'fold: {fold} - MSE Train: {mse_train} - MSE Val {mse_val}')

    print(f'MSE MEAN {np.mean(score_list)} - Std: {np.std(score_list)}')

    return score_list, val_predictions

In [ ]:
score_list, oof_list = pd.DataFrame(), pd.DataFrame()

for label, model in models:
    score_list[label], oof_list[label] = score_model_regressor(model, label, train_clean)

model: lgbm
[LightGBM] [Info] Total Bins 17355
[LightGBM] [Info] Number of data points in the train set: 9880, number of used features: 292
[LightGBM] [Info] Start training from score 0.621964
fold: 0 - MSE Train: 0.11037788349946281 - MSE Val 0.15220942281602876
[LightGBM] [Info] Total Bins 17337
[LightGBM] [Info] Number of data points in the train set: 9881, number of used features: 284
[LightGBM] [Info] Start training from score 0.622305
fold: 1 - MSE Train: 0.10938558544610372 - MSE Val 0.15656621157164338
[LightGBM] [Info] Total Bins 17354
[LightGBM] [Info] Number of data points in the train set: 9881, number of used features: 289
[LightGBM] [Info] Start training from score 0.622811
fold: 2 - MSE Train: 0.1116696511643045 - MSE Val 0.14874497299724998
[LightGBM] [Info] Total Bins 17338
[LightGBM] [Info] Number of data points in the train set: 9881, number of used features: 279
[LightGBM] [Info] Start training from score 0.623216
fold: 3 - MSE Train: 0.10870374869043214 - MSE Val 0.15754104259108445
[LightGBM] [Info] Total Bins 17366
[LightGBM] [Info] Number of data points in the train set: 9881, number of used features: 286
[LightGBM] [Info] Start training from score 0.621192
fold: 4 - MSE Train: 0.1097221728356852 - MSE Val 0.15544950578576627
MSE MEAN 0.15410223115235455 - Std: 0.003224739086937482
model: RF
fold: 0 - MSE Train: 0.1481783665917571 - MSE Val 0.16001184375479224
fold: 1 - MSE Train: 0.1478168457603499 - MSE Val 0.1607580027789403
fold: 2 - MSE Train: 0.1498385639793922 - MSE Val 0.1538944828946885
fold: 3 - MSE Train: 0.1485615427673721 - MSE Val 0.15786603997253076
fold: 4 - MSE Train: 0.14888111493765854 - MSE Val 0.15952393919627372
MSE MEAN 0.1584108617194451 - Std: 0.002449720985121222
model: Extratrees
fold: 0 - MSE Train: 0.13554024105084617 - MSE Val 0.1499302806962667
fold: 1 - MSE Train: 0.1341931461780032 - MSE Val 0.15317607356155039
fold: 2 - MSE Train: 0.1359089316935193 - MSE Val 0.14707692285307034
fold: 3 - MSE Train: 0.13494694395196166 - MSE Val 0.1505781529655052
fold: 4 - MSE Train: 0.1352147350228083 - MSE Val 0.14953534072157706
MSE MEAN 0.15005935415959393 - Std: 0.001958021377403032
model: XGB
fold: 0 - MSE Train: 0.10035195224814421 - MSE Val 0.16027238030738597
fold: 1 - MSE Train: 0.09810175713504683 - MSE Val 0.16129090436067786
fold: 2 - MSE Train: 0.10117208048388482 - MSE Val 0.1523712046366139
fold: 3 - MSE Train: 0.09819756282772088 - MSE Val 0.16214190128460126
fold: 4 - MSE Train: 0.09879095286242913 - MSE Val 0.1638058377637838
MSE MEAN 0.15997644567061256 - Std: 0.00397513551874008
model: catBoost
fold: 0 - MSE Train: 0.11034653585841869 - MSE Val 0.15071501663572884
fold: 1 - MSE Train: 0.1094570784032894 - MSE Val 0.15529273637700908
fold: 2 - MSE Train: 0.11212106228362982 - MSE Val 0.14752491715379665
fold: 3 - MSE Train: 0.10749448642598299 - MSE Val 0.15518180164064738
fold: 4 - MSE Train: 0.10940597375942646 - MSE Val 0.15401157262973217
MSE MEAN 0.15254520888738282 - Std: 0.0030067818027260927

In [ ]:
ridge_model = Ridge()
ridge_model.fit(oof_list, train_clean['DiagPeriodL90D'])
w = ridge_model.coef_
w

array([-0.00914904,  0.00756961,  0.66561555, -0.0023259 ,  0.3276396 ])

In [ ]:
from sklearn.ensemble import VotingRegressor

In [ ]:
voter = VotingRegressor(models, weights=w)

voter.fit(X, y)

In [ ]:
sub["DiagPeriodL90D"] = voter.predict(test_clean)
sub.to_csv('submission11.csv',index=False)